.mainTitle {
  font-size: 40px;
  text-transform: uppercase;
  color: #131313;

  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchInput {
  height: 50px;
  width: 50%;
  font-size: 25px;

  padding: 5px 20px;
}
